<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">synclab</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- <property name="connection.datasource">java:comp/env/jdbc/HRPM</property>-->
		<property name="archive.autodetection">class, hbm</property>

		<!-- <property name="use_sql_comments">true</property> -->
		<!-- <property name="format_sql">true</property> -->
		<!-- <property name="show_sql">true</property> -->
		
		<property name="generate_statistics">true</property>
		<property name="hbm2ddl.auto">update</property>

		<!-- Mapping files -->
		<mapping class="it.synclab.hrpm.model.Candidate"/>
		<mapping class="it.synclab.hrpm.model.Reference" />
		<mapping class="it.synclab.hrpm.model.Rating" />
		<mapping class="it.synclab.hrpm.model.JobWebsite" />
		<mapping class="it.synclab.hrpm.model.Provider" />
		<mapping class="it.synclab.hrpm.model.Stage" />
		<mapping class="it.synclab.hrpm.model.University" />
		<mapping class="it.synclab.hrpm.model.UnsolicitedApplication" />
		
		


	</session-factory>
</hibernate-configuration>

